<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Demo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.nagarro.java.Assignment3.Servlet.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ImageUpload</servlet-name>
    <servlet-class>com.nagarro.java.Assignment3.Servlet.ImageUpload</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ImageUpload</servlet-name>
    <url-pattern>/ImageUpload</url-pattern>
  </servlet-mapping>
	
  <servlet>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>com.nagarro.java.Assignment3.Servlet.DeleteBook</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
	
  <servlet>
    <servlet-name>EditBook</servlet-name>
    <servlet-class>com.nagarro.java.Assignment3.Servlet.EditBook</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EditBook</servlet-name>
    <url-pattern>/EditBook</url-pattern>
  </servlet-mapping>  

	<servlet>
    <servlet-name>PasswordRecovery</servlet-name>
    <servlet-class>com.nagarro.java.Assignment3.Servlet.PasswordRecovery</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PasswordRecovery</servlet-name>
    <url-pattern>/PasswordRecovery</url-pattern>
  </servlet-mapping> 	
	
</web-app>
</element>

