<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Demo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.nagarro.ImageUtility.Controller.LoginController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ImageUploadController</servlet-name>
    <servlet-class>com.nagarro.ImageUtility.Controller.ImageUploadController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ImageUploadController</servlet-name>
    <url-pattern>/ImageUploadController</url-pattern>
  </servlet-mapping>
	
  <servlet>
    <servlet-name>EditBookController</servlet-name>
    <servlet-class>com.nagarro.ImageUtility.Controller.EditBookController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EditBookController</servlet-name>
    <url-pattern>/EditBookController</url-pattern>
  </servlet-mapping>
	
   

	<servlet>
    <servlet-name>PasswordRecoveryController</servlet-name>
    <servlet-class>com.nagarro.ImageUtility.Controller.PasswordRecoveryController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PasswordRecoveryController</servlet-name>
    <url-pattern>/PasswordRecoveryController</url-pattern>
  </servlet-mapping> 	
	
</web-app>
</element>

